################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EventsDemo/v16/Server/sqlite3
/.vs/EventsDemo/v16
/DemoLibrary/bin/Debug
/DemoLibrary/obj/Debug
/WinFormUI/bin/Debug
/WinFormUI/obj/Debug
